@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark-mode-element: hsl(209, 23%, 22%);
  --dark-mode-input: hsl(209, 23%, 22%);
  --dark-text-color: hsl(0, 0%, 100%);
  --light-mode-bg: hsl(0, 0%, 95%);
  --light-mode-element: hsl(0, 0%, 100%);
  --light-mode-input: hsl(0, 0%, 98%);
  --light-text-color: hsl(200, 15%, 8%);
}

/* Light Mode */
.light-mode {
  --bg-color: var(--light-mode-bg);
  --bg-element: var(--light-mode-element);
  --bg-input: var(--light-mode-input);
  --text: var(--light-text-color);
}

/* Dark Mode */
.dark-mode {
  --bg-color: var(--dark-mode-bg);
  --bg-element: var(--dark-mode-element);
  --bg-input: var(--dark-mode-input);
  --text: var(--dark-text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text);
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-element);
  padding: 20px;
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

.dark-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dark-toggle:hover {
  font-weight: 600;
}

/*Filter*/
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: var(--bg-input);
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: var(--text);
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input::placeholder {
  color: var(--text);
}

.filter .region-filter {
  width: 100%;
}

.filter .region-filter .select {
  background-color: var(--bg-input);
  color: var(--text);
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

/*Country*/

.btn {
  background-color: var(--bg-element);
  padding: 5px;
  cursor: pointer;
  border: 2px solid var(---bg-color);
  border-radius: 5px;
  margin-bottom: 30px;
  display: inline-block;
  transition: background-color 0.2s;
  box-shadow: 0 0 5px hsla(200, 15%, 8%, 0.5);
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn:hover {
  background-color: var(--light-mode-input);
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.country article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.country-data {
  display: flex;
  flex-direction: column;
}

.country-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.country-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.country-borders {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.country article .country-details div h2 {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
}

.country article .country-details div h5 {
  font-weight: 600;
  margin: 10px 0;
  font-size: 16px;
}

.country article .country-details div h5 span {
  font-weight: 300;
}

.country article h3 {
  font-weight: 600;
}

.country article ul {
  list-style-type: none;
}

.country article .borders {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.country article .borders ul {
  background-color: var(--bg-element);
  padding: 3px 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px hsla(200, 15%, 8%, 0.5);
}

/*Countries*/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid .link {
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

.grid .link img {
  border-radius: 5px 5px 0 0;
}

.grid .details {
  background-color: var(--bg-element);
  padding: 20px;
  margin-top: -10px;
  border-radius: 0 0 5px 5px;
}

.grid .details h3 {
  padding-bottom: 10px;
}

.grid .details h4 {
  padding-bottom: 5px;
}

.grid .details h4 span {
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: var(--text);
}

/*Search*/

.search-results {
  position: absolute;
  left: 20px;
  z-index: 1000;
  background-color: var(--bg-element);
  color: var(--text);
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  width: 20%;
}

.search-results ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
}

.search-results ul li {
  height: 30px;
  width: 100%;
  list-style-type: none;
}

.search-results ul li:hover {
  background-color: var(--bg-color);
}

.search-link {
  color: var(--text);
  text-decoration: none;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }
  .filter .form-control {
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region-filter {
    width: auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .header,
  .filter,
  .grid,
  .country {
    padding: 20px 100px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
  .country article {
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
  .flag {
    width: 50%;
  }
  .country-data {
    width: 50%;
  }
  .country-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .country-borders {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
